{% extends 'base.html' %}

{% block title %}Scrumptious Recipes{% endblock title %}

    {% block content %}
    <main>
        <div>
            <h2>Create Your Own Recipe!<h2>
            </div>
        <form class='forms' method="post">
            {%csrf_token%}
            {{ form.as_p  }}
            <button>Create</button>
        </form>
    </main>
    {% endblock content %}
    <footer>
        Made with love by Scrumptious Recipes
    </footer>
</div>
</body>
</html>
