{% extends 'base.html' %}

{% block title %}Scrumptious Recipes{% endblock title %}

    {% block content %}
    <main>
        <h1 class="title-text">
            {{recipe_object.title}}
        </h1>
        <div>
            <img src="{{ recipe_object.picture}}">
        </div>
        <div>
            4.3 stars
        </div>
        <p>{{ recipe_object.description}}</p>
        <a class="hvisited hhover" href="{% url 'edit_recipe' recipe_object.id %}">Edit</a>
        <h2 class="sub-text">
            Ingredients
        </h2>
        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th>Amount</th>
                        <th>Food item</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ingredient in recipe_object.ingredients.all %}
                        <tr>
                            <td>{{ ingredient.amount }}</td>
                            <td>{{ ingredient.food_item }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <h2 class="sub-text">
            Steps
        </h2>
        <div>
        <ol>
            {% for step in recipe_object.steps.all %}
                <li>{{ step.instruction }}</li>
            {% endfor %}
        </ol>
        </div>
        {% endblock content %}
        <footer>
            Made with love by Scrumptious Recipes
        </footer>
    </div>
    </body>
    </html>
