{% extends 'base.html' %}

{% block title %}Scrumptious Recipes{% endblock title %}

    {% block content %}
    <main>
        <h2>{{ recipe_object.title }}</h1>
        <form class='forms' method="post">
            {%csrf_token%}
            {{ form.as_p  }}
            <button>Save</button>
        </form>
    </main>
    {% endblock content %}
    <footer>
        Made with love by Scrumptious Recipes
    </footer>
</div>
</body>
</html>
