{% extends 'base.html' %}

{% block title %}Scrumptious Recipes{% endblock title %}

    {% block content %}
    <main>
            <h1 class="title-text">Scrumptious Recipies</h1>
            <h2 class="slogan">All the food that's fit to eat</h2>
        <div class='grid'>
            {% for recipe in recipe_list %}
            <div>
                <h3>
                    <a class='food-title-visited food-title-hover food-title-unvisited' href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
                </h3>
                <p>{{ recipe.created_on|date:'M t, Y'}}</p>
                <img src="{{ recipe.picture }}">
                <div class="bold">4.3 Stars</div>
            </div>
            {% endfor %}
        </div>
    </main>
    <div>
    {% endblock content %}
    <footer>
        Made with love by Scrumptious Recipes
    </footer>
</div>
</body>
</html>
