{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static "css/recipes.css" %}">
</head>

<body id="page-container">
    <header>
        <div class="navgrid">
        <nav>
            <a class="hvisited hhover" href="{% url 'recipe_list' %}">Main Page</a>
            <a class='hvisited hhover' href="{% url 'create_recipe' %}">Create a recipe</a>

            {% if user.is_authenticated %}
                Hello, {{ user.username }}
                <a href="{% url 'user_logout' %}">Logout</a>
                <a href="{% url 'my_recipe_list' %}">Recipes</a>
            {% else %}
                <a href="{% url 'signup' %}">Sign up</a>
                <a href="{% url 'user_login' %}">Login</a>
            {% endif %}
        </nav>
        </div>
    </header>
    {% block content %}{% endblock content %}
    <footer>
        Made with love by Scrumptious Recipes
    </footer>

</body>

</html>
